<div>
    
    <table>
        <tr>
            <th>Name</th> 
            <th>Details</th>             
        </tr>
        <tr>
            <td>Vijay</td>
            <td><a routerLink="child">Click to check Details</a></td>
        </tr>
        <tr>
            <td>Allwyn</td>
            <td><a routerLink="child2">Click to check Details</a></td>
        </tr>
        <tr>
            <td>Ajay Kumar</td>
            <td><a routerLink="child3">Click to check Details</a></td>
        </tr>
        <tr>
            <td>Dio</td>
            <td><a routerLink="child4">Click to check Details</a></td>
        </tr>
        <tr>
            <td>Jhon</td>
            <td><a routerLink="child5">Click to check Details</a></td>
        </tr>
    </table>
    <hr>
    <div>
        <h4>Users Details will be Display Here</h4>
        <router-outlet></router-outlet>
    </div>
   
</div>
